[Desktop Entry]
Type=Application
Name=NetworkFix
Comment=Hotspot and cellular network repair
Exec={{exec}}
Icon={{icon}}
Terminal=false
Categories=Network;System;
